body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms
}

.popup {
  background: #fff;
  border-radius: 5px;
  position: relative;
  text-align: center;
  color: black;
}

.menu-button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1.5px solid #3B3B3B;
  background: none;
}

.menu-button:hover {
  background-color: #3B3B3B;
  color: white;
}

@media only screen and (max-width: 600px) { 
  .popup {
    width: 96%;
    margin: 35% 2%;
    padding: 90px 0;
  }
}

@media only screen and (min-width: 600px) { 
  .popup {
    width: 550px;
    margin: 160px auto;
    padding: 95px 50px;
  }
}

.board {
  margin: 14px;
}

th, td {
  border: 2px solid black;
  margin: 0;
}

.square {
  font-size: 6em;
  text-align: center;
  height: 200px;
  width: 200px;
}

#current-turn {
  font-size: 2em;
}